/*
  --bg: #0d0d0d;
  --surface: #161616;
  --border: #2a2a2a;
  --accent: #e8ff47;
  --accent2: #ff6b35;
  --text: #f0f0f0;
  --muted: #666;
  --mono: "JetBrains Mono", monospace;
  --sans: "Syne", sans-serif;
  */
  
#char-box {
  position: relative;
}

#char-area {
  resize: none;
  
}


